@font-face {
  font-family: roryfont;
  src: url(../font/roryfont.ttf);
}

.white.white {
  color: white;
}

.main_background {
  background: url(../images/collectionTwo/FRONT_PAGE.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

.rory_header {
  margin-top: 36px;
  margin-bottom: 12px;
}

.rfont {
  font-family: roryfont;
  text-transform: uppercase;
}

.rory_header_title {
  font-weight: 100;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0.06rem;
  text-align: center;
  font-size: 28px;
  transform: scaleX(1.35);
}

.rory_subheader {
  font-weight: 100;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  letter-spacing: 0.06rem;
  text-align: center;
  font-size: 20px;
}

.video_holder {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  justify-content: space-around;
}

.collections_header {
  font-size: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.collections_list {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.collection_list_item {
  font-size: 30px;
}

.menu {
  width: 100%;
}

@media (min-width: 600px) {
  .menu {
    display: flex;
    justify-content: space-between;
  }

  .menu_section {
    display: flex;
    width: 30%;
  }
}

.menu_link {
  text-decoration: none;
  color: black;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

.menu_link:hover {
  text-decoration: underline;
}

.menu_link:focus {
  outline: none;
  text-decoration: underline;
}

.look {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 35px;
}

.images {
  font-size: 0;
  width: 50%;
  text-align: center;
}

.look_text {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: 20%;
  font-size: 1.1rem;
}

@media only screen and (max-width: 600px) {
  .look {
    flex-direction: column;
  }
  .images {
    width: 100%;
  }

  .look_text {
    width: 100%;
  }
}



.rory_lookbook_image {
  width: 33%;
  margin-left: 0;
  margin-right: 0;
}

.di {
  display: inline;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
